{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Alexis Personal{% endblock %}</title>

    <meta name="description" content="Alexis Personal Trainer"/>
    <meta name="keywords"
          content="personal trainer, alexis personal, exercicio fisico, lagoa da prata"/>
    <meta name="author" content="João Garcia e Tamara">
{#    <link rel="icon" type="'image/png" href="{% static 'img/favicon-16x16.png' %}"/>#}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {#    <link href="{% static 'css/album.css' %}" rel="stylesheet">#}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


</head>
{% block body %}{% endblock body %}


</html>