{% extends 'base/base.html' %}
{% load static %}


{% block title %}Alexis Personal{% endblock title%}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

			<div class="jumbotron">
				<p>
                    <div class="text-center">
                    <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="Responsive image">
                    <br/>
					<h4>Conteúdo de treinos e práticas esportivas para alunos on-line e presenciais.</h4>
                    </div>
				</p>
			</div>
       </div>
	</div>
</div>
{#			<div class="row">#}
{#				<div class="col-md-12">#}
{#					<div class="card">#}
{#						<h5 class="card-header">#}
{#							Conheça mais sobre o instrutor#}
{#						</h5>#}
{#						<div class="card-body">#}
{#                            <div class="text-center">#}
{#							<p class="card-text">#}
{#								<img src="{% static 'img/alexis.png' %}" class="img-fluid img-thumbnail" alt="Responsive image">#}
{#                                📓Bacharel em Ed. Física - UFTM#}
{#                                🔹Licenciado @hipopressivobrasil#}
{#                                🏋🏻‍♂️Personal Trainer#}
{#                                 💻Consultoria online#}
{#                             </div>#}
{#							</p>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{% endblock body %}